.main{
    width: 80%;
    max-width: 300px;
    min-height: 300px;
    margin: 2rem auto;
    padding: 3rem 1.25rem;
    background: var(--bg);
    box-shadow: var(--color-shadow);
    border-radius: 15px;
    position: relative;
    background-color:skyblue;
}
h1{
    text-align: center; 
}
button{
    position: absolute;
    left: 35%;
    right: 25%;
}